---
import ContactLayout from '../layouts/ContactLayout.astro'
import { ContactForm } from '../components/ContactForm'
---

<ContactLayout>
  <div class="flex flex-col gap-6">
    <div class="prose prose-text max-w-none w-full">
      <div>
        <p>
          Hello ! Je m'appelle Amine Rahmane, et je suis un développeur
          full-stack avec <span class="font-bold"
            >plus de 5 ans d'expérience</span
          >, spécialisé dans la création de sites et applications web.
        </p>
        <p>
          Animé par un amour pour le développement, j'ai acquis une expertise
          solide en HTML, CSS, JavaScript et PHP, ainsi qu'en frameworks
          populaires tels que <span class="font-bold">React et Symfony</span>.
          J'ai été amené au fil des années à travailler avec différentes
          structures et entreprises, allant de la startup à des grandes entreprises, ce qui me permet de <span class="font-bold"
            >savoir m'adapter à vos besoins et vos équipes</span
          >.
        </p>
        <p>
          Naturellement curieux et toujours à la recherche de nouveaux défis, je
          m'efforce constamment d'améliorer mes compétences, un problème à la
          fois.
        </p>
      </div>
    </div>
    <div class="prose prose-text max-w-none">
      <p>
        Une idée, un projet ? Contactez moi en remplissant le formulaire
        ci-dessous ou bien envoyez moi un mail à <a
          href="mailto:contact@amine-rahmane.fr" class="no-underline hover:text-accent">contact@amine-rahmane.fr</a
        > et je vous répondrai dans les plus brefs délais.
      </p>
    </div>
    <form name="contact" data-netlify="true" netlify-honeypot hidden>
      <input type="hidden" name="form-name" value="contact" />
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
      </p>
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        placeholder=""
        name="firstname"
      />
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        placeholder=""
        name="surname"
      />
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        name="email"
      />
      <textarea
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        rows="10"
        name="message"></textarea>
    </form>
    <ContactForm client:load />
  </div>
</ContactLayout>

<style></style>

<script></script>
 ../components/ContactForm
