---
import ContactLayout from '../layouts/ContactLayout.astro'
import { ContactForm } from '../components/ContactForm'
---

<ContactLayout>
  <div class="flex flex-col gap-6">
    <div class="prose prose-text w-full">
      <p>
        Une idée, un projet ? Contactez moi en remplissant le formulaire
        ci-dessous ou bien envoyez moi un mail à <a
          href="mailto:contact@amine-rahmane.fr">contact@amine-rahmane.fr</a
        > et je vous répondrai dans les plus brefs délais.
      </p>
    </div>
    <form name="contact" data-netlify="true" netlify-honeypot hidden>
      <input type="hidden" name="form-name" value="contact" />
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
      </p>
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        placeholder=""
        name="firstname"
      />
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        placeholder=""
        name="surname"
      />
      <input
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        type="text"
        name="email"
      />
      <textarea
        class="w-full mt-2 p-3 rounded-lg prose focus:outline-none focus:outline-accent"
        rows="10"
        name="message"></textarea>
    </form>
    <ContactForm client:load />
  </div>
</ContactLayout>

<style></style>

<script></script>
 ../components/ContactForm
