---
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---

<Layout title="Welcome to Astro.">
  <main class="container flex flex-row gap-4 py-4 px-8">
    <h1
      class="font-satoshi scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      <span class="text-background bg-primary px-2">Amine Rahmane,</span> développeur
      et créateur d'identité.
    </h1>
  </main>
</Layout>
