---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import HeroCard from '../components/cards/HeroCard.astro'
import Thronocrigger from '../components/cards/Thronocrigger.astro'
import ContactCard from '../components/cards/ContactCard.astro';
---

<Layout title="Amine Rahmane - Accueil">
  <main>
    <div
      class="card-container bg-background w-screen h-screen flex flex-col gap-3 py-4 px-2 group/cards lg:grid lg:grid-cols-3 lg:grid-rows-3"
    >
      <div class="lg:row-span-2 lg:col-span-2">
        <HeroCard />
      </div>
      <div
        class="flex flex-col justify-around items-center gap-3 h-auto lg:h-full lg:row-span-2"
      >
        <Thronocrigger title="Thronocrigger" body="Portfolio redesign" />
        <Card
          title="Title"
          body="This is a body of text the is subject to change"
        />
      </div>
      <div
        class="flex flex-col justify-around items-center gap-3 w-full h-auto lg:h-full lg:flex-row lg:col-span-3"
      >
        <Card title="test" body=":3" />
        <Card title="2 columns" body=":3"/>
        <ContactCard />
      </div>
    </div>
  </main>
</Layout>

<style></style>

<script>
  const handleCards = () => {
    const cardContainer: HTMLElement = document.getElementsByClassName(
      'card-container'
    )[0] as HTMLElement

    cardContainer.onmousemove = (e: MouseEvent) => {
      for (const card of document.querySelectorAll(
        '.card'
      ) as NodeListOf<HTMLElement>) {
        const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top

        card.style.setProperty('--mouse-x', `${x}px`)
        card.style.setProperty('--mouse-y', `${y}px`)
      }
    }
  }

  document.addEventListener('astro:page-load', handleCards)
</script>
