---
interface Props {
  title: string
  project: string
  cols?: number | string
  rows?: number | string
  image?: any
  link?: string
}

const {
  title,
  project,
  cols = 'auto',
  rows = 'auto',
  image,
  link = '#',
} = Astro.props
---

<div
  class=`card cursor-pointer relative w-full h-56 lg:h-full rounded-xl lg:overflow-hidden
  before:rounded-[inherit] before:h-full before:content-[''] before:w-full before:absolute before:top-0 before:left-0 before:z-30 
  before:opacity-0 before:transition-opacity before:duration-500 hover:before:opacity-100
  after:rounded-[inherit] after:h-full after:content-[''] after:w-full after:absolute after:top-0 after:left-0 after:z-10 
  after:opacity-0 after:transition-opacity after:duration-500 group-hover/cards:after:opacity-100 group
  bg-radial-gradient`
>
  <div class="absolute top-0 left-0 w-full h-full dotted-grid"></div>
  <a href={link}>
    <div
      class="content relative w-full h-full bg-secondary bg-opacity-30 rounded-[inherit] z-40 m-[1px] bg-cover bg-center
    px-6 py-4
    flex flex-col flex-wrap items-center justify-around"
    >
      <div class="lg:place-self-start">
        <h2 class="text-text font-title text-4xl font-bold uppercase">
          {title}
        </h2>
        <div class="text-text font-title text-2xl">{project}</div>
      </div>
      <div class="lg:row-start-2 lg:row-end-2 lg:col-start-2 lg:col-end-2 w-12 lg:w-28">
        <slot />
      </div>
    </div>
  </a>
</div>

<script></script>

<style lang="scss" is:global>
  .bg-radial-gradient::before {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(228, 100, 71, 0.5),
      transparent 40%
    );
  }

  .bg-radial-gradient::after {
    background: radial-gradient(
      200px circle at var(--mouse-x) var(--mouse-y),
      rgba(228, 100, 71, 0.3),
      transparent 40%
    );
  }

  .card {
    .content {
      height: calc(100% - 2px);
      width: calc(100% - 2px);
    }
    &:hover {
      z-index: 100;
      .content {
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .dotted-grid {
    z-index: 1;
    background: radial-gradient(rgba(255, 255, 255, 0.05) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 8vmin 8vmin;
  }
</style>
