---
//interface Props {
//	title: string;
//	body: string;
//}

// const { title, body } = Astro.props;
---

<div class="bg-background w-full h-full border border-accent rounded-xl p-12">
  <div class="text-text">hi</div>
</div>

<style></style>
