---
import { GitHubLogoIcon, LinkedInLogoIcon } from '@radix-ui/react-icons'
---

<div
  class="bg-primary text-background dark:text-backgroundLight dark:bg-primary-light flex flex-row justify-end items-center py-2 px-4 gap-2">
  <a
    class="font-bold"
    href="mailto:contact@amine-rahmane.fr"
    >contact@amine-rahmane.fr</a
  >
  <span>|</span>
  <a
    target="_blank"
    href="https://github.com/dasporal"
    ><GitHubLogoIcon /></a
  >
  <span>|</span>
  <a
    target="_blank"
    href="https://www.linkedin.com/in/amine-rahmane/"
    ><LinkedInLogoIcon /></a
  >
  <span>|</span>
  <span>{new Date().getFullYear()}</span>
</div>
