<div
  class="bg-primary text-background dark:text-backgroundLight dark:bg-primary-light flex flex-row justify-end py-2 px-4 gap-2">
  <a class="font-bold" href="mailto:contact@amine-rahmane.fr"
    >contact@amine-rahmane.fr</a
  >
  <span>|</span>
  <span>{new Date().getFullYear()}</span>
</div>
