---
import '@fontsource/fira-sans'
import '@fontsource/ibm-plex-sans'
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amine Rahmane - Contact</title>
    <ViewTransitions />
  </head>
  <body class="bg-background h-screen w-screen">
    <main class="flex justify-center items-center z-20 lg:pb-8">
      <div
        class="flex flex-col justify-center items-center h-full w-full gap-4 lg:w-2/3"
      >
        <div class="w-full p-3">
          <Header />
        </div>
        <div class="flex flex-col lg:flex-row w-full h-full gap-8">
          <div class="w-full lg:w-2/3">
            <div
              class="body-content bg-background shadow shadow-primary opacity-100 w-full h-full flex flex-col rounded-xl bg-cover bg-center p-8 gap-3"
            >
              <div
                class=`w-full flex flex-col rounded-xl bg-cover bg-center gap-3 p-3 lg:p-8 `
              >
                <h1
                  class="title font-title prose text-background bg-text text-clamp-title w-full"
                >
                  Me contacter
                </h1>
              </div>
              <div class="lg:mx-28">
                <slot />
              </div>
            </div>
          </div>
          <div
            class="card-container flex flex-col w-full m-2 gap-4 py-2 lg:w-1/3"
          >
            <Card title="test" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
            <Card title="Data" body=":3" />
          </div>
        </div>
      </div>
    </main>
    <style lang="scss" is:global>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply font-title;
      }

      ul {
        @apply list-disc marker:text-accent font-bold;
      }

      main {
        background: radial-gradient(
          rgba(255, 255, 255, 0.05) 9%,
          transparent 9%
        );
        background-position: 0% 0%;
        background-size: 8vmin 8vmin;
      }

      .body-content {
        transform: translateX(-100px);
        animation: fade 0.4s ease-in-out forwards;
      }

      .title {
        position: relative;
        padding: 0 0.475rem;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0.01);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #06000a;
          transform-origin: bottom left;
          animation: underline 1.2s ease-in-out forwards;
        }
      }

      @keyframes underline {
        0% {
          transform: scaleX(0.01);
        }
        100% {
          transform: scaleX(1);
        }
      }

      @keyframes fade {
        0% {
          opacity: 0;
          transform: translateX(-10px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
    <script>
      const handleCards = () => {
        const cardContainer: HTMLElement = document.getElementsByClassName(
          'card-container'
        )[0] as HTMLElement

        cardContainer.onmousemove = (e: MouseEvent) => {
          for (const card of document.querySelectorAll(
            '.card'
          ) as NodeListOf<HTMLElement>) {
            const rect = card.getBoundingClientRect(),
              x = e.clientX - rect.left,
              y = e.clientY - rect.top

            card.style.setProperty('--mouse-x', `${x}px`)
            card.style.setProperty('--mouse-y', `${y}px`)
          }
        }
      }

      document.addEventListener('astro:page-load', handleCards)
    </script>
  </body>
</html>
