---
import '@fontsource/fira-sans'
import '@fontsource/ibm-plex-sans'
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'

interface Props {
  title: string
  body: string
}

const { title = 'Title', body = 'Lorem ipsum dolor sit amen' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-background">
    <main class="h-screen w-screen flex justify-center items-center">
      <div id="dotted-grid" class="absolute top-0 left-0 h-full w-full"></div>
      <div class="py-4 flex flex-col justify-center items-center h-full w-full lg:w-2/3">
        <div class="w-full">
          <Header />
        </div>
        <div class="flex flex-row w-full h-full">
          <div class="w-2/3">
            <h1>{title}</h1>
            <p>{body}</p>
          </div>
          <div class="w-1/3 flex flex-col gap-4 py-2">
            <Card title="test" body=":3" />
            <Card title="Data" body=":3"/>
            <Card title="Data" body=":3"/>
            <Card title="Data" body=":3"/>
            <Card title="Data" body=":3"/>
          </div>
        </div>
      </div>
    </main>
    <style>
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-text;
      }

      #dotted-grid {
        z-index: 1;
        background: radial-gradient(
          rgba(255, 255, 255, 0.05) 9%,
          transparent 9%
        );
        background-position: 0% 0%;
        background-size: 8vmin 8vmin;
      }
    </style>
  </body>
</html>
